footer{
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 80px;
  min-height: fit-content;
  bottom: 0;
  z-index: 1;
  background-color: $text-color;
  color: $background-color;
  padding-top: 10px;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.icons {
  margin: 5px;
  height: 40px;
  border-radius: 10%;
  border: none;
}

.icons:hover{
  scale: 1.1;
}