#search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}



h1 {
  font-size: 30px;
  color: $text-color;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

form {
  padding: 10px 20px;
  background-color: $text-color;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    border: none;
    outline: none;
    background-color: $text-color;
    appearance: none;
    color: white;
    font-size: 18px;
    padding: 2px;
    caret-color: white;
    margin: 10px 0;
    
    &::placeholder {
      color: $background-color;
      opacity: 0.7;
      font-size: 15px;
    }

  }
  @media (width >= 576px){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  // change color of input with chromium autocomplete
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $text-color inset !important;
    -webkit-text-fill-color: white;   
  }
  
  #search-type{
    background-color: $text-color;
    border: none;
    color: white;
    outline: none;
    margin-right: 10px;
    font-size: 15px;
  }

  button {
    border: none;
    background-color: $background-color;
    color: $text-color;
    border-radius: 20px;
    outline: none;
    padding: 8px 10px;
    opacity: 0.9;
    cursor: pointer;
  }
}